*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
}
.card{
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    margin-top: 150px;
    padding: 20px;
    background: linear-gradient(135deg,#d41e31,#491f8f);
}
.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    transition: .5s;
}
.card:hover img{
    position: absolute;
    bottom: 0;
    left: 80%;
    height: 450px;
}
.content{
    position: relative;
    width: 45%;
    left: 30%;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.content h2{
    color: white;
    font-size: 25px;
}
.content p{
    margin: 5px 0 20px 0;
    font-size: 14px;
    font-weight: normal;
    color: white;
}
.content a{
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px 20px;
}

@media screen and (max-width:900px) {
    .card:hover img{
        position: absolute;
        bottom: 0;
        left: 70%;
        height: 400px;
    }
}
@media screen and (max-width:600px) {
    *{
        overflow-x: hidden !important;
    }
    .card{
        width: auto;
        max-width: 500px;
        transition: .5s;
        flex-direction: column;
    }
    .card:hover{
        height:500px;
    }
    .card .content{
        width: 100%;
        height: 200px;
    }
    .card img{
        height: 300px;
    }
    .card:hover img{
        left: 50%;
        height: 400px;
    }
}
@media screen and (max-width:400px) {
    body{
        overflow-x: hidden;
    }
    .card{
        width:auto;
        transition: .5s;
        flex-direction: column;
    }
    .card:hover{
        height:600px;
    }
    .card .content{
        width: 100%;
    }
    .card:hover img{
        left: 50%;
        height: 380px;
    }
}